@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Featured REviews */
  --color-primary-blue: hsl(221, 83%, 53%);
  /* --color-primary-light-gray-500: hsl(217, 19%, 35%); */
  /* --color-primary-blue: hsl(219, 29%, 14%); */
  --color-primary-white: hsl(0, 0%, 100%);
  /* --color-neutral-light-gray-300: hsl(0, 0%, 81%); */
  /* --color-neutral-light-gray-200: hsl(210, 46%, 95%); */
  /* --font-size-default: 0.8125rem; */
  /* --font-primary: "Inter", sans-serif; */
}

body {
  color: rgb(var(--color-primary-blue));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Blue Hero Moving Background Starts Here */
.hero-moving-bg {
  width: 100%;
  height: 100%;
  background: var(--color-primary-white);
  position: relative;
  overflow: hidden;
}

.hero-moving-bg::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #2563eb 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2563eb 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
  animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}

/* Blue Hero Moving Background Ends Here */

/* Black Footer  Moving Background Starts Here */
.footer-bg {
  /* Basic dimensions and centering */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

/* Black Footer  Moving Background Ends Here */
/* Bottom CTA Background Starts Here */
.bottom-cta {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: transparent;
  background-image: radial-gradient(
      rgba(37, 99, 235, 0.25) 10%,
      transparent 10%
    ),
    radial-gradient(rgba(37, 99, 235, 0.25) 10%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}

/* Bottom CTA Background Ends Here */
